.message-box {
  background: #00c9ff;
  background: -webkit-linear-gradient(to right, #92fe9d, #00c9ff);
  background: linear-gradient(to right, #92fe9d, #00c9ff);
  min-height: 6vh !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border: solid 2px blue;
}

.chat-icon {
  border: solid;
  border-color: transparent;
  margin-top: 1%;
}

.me-box {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.bot-box {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
